{% extends 'base.html' %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
    <div>This is connect view</div>

    <script>
    htmx.on('messages', (e) => {
        for (let message of e.detail.value) {
            alert(message['message']);
        }
    });
    </script>

    <!-- current queue -->
    <form class="hidden">
        {% csrf_token %}
        <input type="text" id="guild_id" name="guild_id" value={{ guild_id }}>
        <input type="text" id="user_id" name="user_id" value={{ user_id }}>
        <button hx-trigger="every 5s"
                hx-target="#current_queue"
                hx-post={% url 'current_queue' %}>
            Submit
        </button>
    </form>

    <!-- search -->
    <form>
        {% csrf_token %}
        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="keyword" placeholder="Keyword">
        <input type="number" id="amount" name="amount" min="1" max="20" value="10"/>
        <input class="hidden" type="text" id="guild_id" name="guild_id" value={{ guild_id }}>
        <input class="hidden" type="text" id="user_id" name="user_id" value={{ user_id }}>
        <button type="submit"
                hx-target="#search_result"
                hx-post={% url 'search' %}>
            Submit
        </button>
    </form>

    <div id="current_queue"></div>
    <div id="search_result"></div>
{% endblock %}