<footer class="flex justify-content-between pt-5 border-top">
    <span class="text-muted text-start">Copyrights © 2019-2023 Aksidion Kreimben</span>

    <span class="justify-content-end">
            <a class="m-3" href="https://www.instagram.com/kreimben">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a class="m-3" href="https://paypal.me/kreimben">
                <i class="fa-brands fa-paypal"></i>
            </a>

            <a class="m-3" href="https://www.github.com/kreimben">
                <i class="fa-brands fa-github"></i>
            </a>

            <a class="m-3" href="https://www.linkedin.com/in/jehwan-kim-760473265/">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a class="m-3" href="mailto:aksidion@kreimben.com">
                <i class="fa-solid fa-at"></i>
            </a>
        </span>

    <style>
        .container a {
            color: black;
        }
    </style>
</footer>